/* START OF MINIFIED CSS FROM http://static.tumblr.com/cmghtlm/ooPnmxm6x/main.css */

.off-canvas-wrap {
    -webkit-backface-visibility: hidden;
    position: relative;
    width: 100%;
    overflow: hidden
}
.inner-wrap {
    position: relative;
    width: 100%;
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -ms-transition: -ms-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease
}
.left-off-canvas-toggle {
    z-index: 1;
    position: relative
}
.left-off-canvas-toggle i {
    margin: 10px;
    padding: 10px 11px;
    position: absolute;
    font-size: 1.6rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%
}
.left-off-canvas-menu {
    -webkit-backface-visibility: hidden;
    width: 28.625rem;
    top: 0;
    bottom: 0;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    background: #333;
    z-index: 1001;
    box-sizing: content-box;
    transition: transform 500ms ease 0s;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -ms-transform: translate(-100%, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    left: 0
}
.left-off-canvas-menu * {
    -webkit-backface-visibility: hidden
}
.menu-divider {
    width: 70%;
    margin: 30px auto
}
#menu-items {
    list-style: none;
    text-align: center;
    padding-left: 0
}
#menu-items li {
    padding-bottom: 15px
}
#menu-items li a {
    font-size: 1.6rem
}

/* END */

/* START OF CSS FROM "http://static.tumblr.com/cmghtlm/n6enj2o9x/font-awesome.min.css" */

@font-face{font-family:FontAwesome;src:url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0);src:url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0) format('embedded-opentype'),url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0) format('woff2'),url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0) format('woff'),url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0) format('truetype'),url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular) format('svg');font-weight:400;font-style:normal}
.fa-list-alt:before{content:"\f022"}
.fa-list:before{content:"\f03a"}
.fa-list-ul:before{content:"\f0ca"}
.fa-list-ol:before{content:"\f0cb"}
.fa-instagram:before{content:"\f16d"}
